body {
  font-family: "Lato", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.sectionOne {
  margin: 0px 25px;
}

.allWorkouts {
  width: 100%;
}

.box {
  width: 50%;
  /* border: 2px solid grey;
  border-radius: 25px; */
  margin: 20px;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid grey; */
  /* border-radius: 25px; */
  width: 100%;
}

.oneHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header {
  letter-spacing: 1px;
  font-weight: 400;
}

.newWorkout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

#newWorkoutForm {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

#newGoalForm {
  display: flex;
  width: 100%;
}

.name {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  width: 100%;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.submitBtn {
  text-align: center;
}

.addBtn {
  width: 100%;
  padding: 12.5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

.addBtn:hover {
  background-color: black;
  color: white;
}

#sports, #goal-sports {
  width: 100%;
  padding: 11px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#workoutTime, #workoutDistance, #gotalDistance  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#goal-sports, #gotalDistance {
  margin-right: 10px;
}

.sport {
  width: 90%;
  margin: 15px 0px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 15px;
}

.sport h2 {
  text-align: center;
  font-weight: 300;
}

#filterDropdown {
  padding: 5px 10px;
  box-shadow: rgba(86, 86, 86, 0.1) 0px 10px 50px;
  border-radius: 5px 0px 0px 5px;
}

#filterDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filterBtn {
  background-color: black;
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

#filterDropdown:hover,
.filterBtn:hover {
  cursor: pointer;
}

.listItem {
  /* border: 1px solid black; */
  /* border-radius: 15px; */
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: rgba(86, 86, 86, 0.1) 0px 10px 50px; */
  box-shadow: 1px 4px 9px 0px #7d7d7d;

}

.check {
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.listItem div {
  display: flex;
  flex-direction: column;
}

.listItem div p {
  margin: 0px;
}

.close {
  padding: 7px 10px;
  font-size: 16px;
  border: none;
  border: 2px solid #df0404;
  background-color: transparent;
  color: #df0404;
  border-radius: 5px;
  text-align: center;
}

.close:hover {
  cursor: pointer;
  background-color: #df0404;
  color: white;
}

.editButton {
  padding: 7px 6px 7px 9px;
  font-size: 16px;
  border: none;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.saveButton {
  padding: 7px 9px 7px 10px;
  font-size: 16px;
  border: none;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  text-align: center;
}

.editButton:hover,
.saveButton:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.sectionTwo {
  display: flex;
}

.distances div,
.goals div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal,
.totalDistance {
  box-shadow: 1px 4px 9px 0px #7d7d7d;
  padding: 15px;
  margin-bottom: 15px;
}

.goal .fas,
.totalDistance .fas {
  font-size: 24px;
}

input:disabled {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 16px;
}
